* {
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
}

.banner {
    padding: 40px;
    text-align: center;
    background: #28005A;
    color: white;
    font-size: 30px;
    line-height: 1.5;
  }

.container, .container2, .container3 {
    border: solid 4px #353535;
    position: relative;
    top: 40px;
    margin: auto;
    background: #5A5A5A;
    color: white;
    border-radius: 15px 50px 30px;
}

.container {
    height: 400px;
    width: 1425px;
}

.container2 {
    height: 1000px;
    width: 1425px;
}

.container3 {
    height: 400px;
    width: 1425px;
    margin-top: 40px;
}

.container h1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.colorbox {
    display: inline-block;
    line-height: 3.0;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    display: inline-block;
}

.fontbox {
    background-color: white;
    color: black;
    border: solid 2px grey;
    border-radius: 15px;
    height: 250px;
    width: 800px;
    display: block;
    margin: 40px auto;
    text-align: center;
    line-height: 2.0;
}

.fontbox h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.textbox {
    background-color: white;
    color: black;
    border: solid 2px grey;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    line-height: 3.0;
    width: 400px;
    height: 300px;
    margin-left: 40px;
    display: inline-block;
}

.container #plum h2, .container #joy h2, .container #jungle h2, .container #spade h2 {
    text-align: center;
}

.container #plum p, .container #joy p, .container #jungle p, .container #spade p {
    margin: 0px 8px;
}

.container #plum {
    background-color: rgb(40, 0, 90);
    border: solid 2px #1E0041;
}

.container #joy {
    background-color: rgb(255, 155, 45);
    border: solid 2px #DC7300;
    position: relative;
    bottom: 48px;
}

.container #jungle {
    background-color: rgb(195, 220, 65);
    border: solid 2px #96AF0C;
    position: relative;
}

.container #spade {
    background-color: rgb(0, 185, 155);
    border: solid 2px #00A58C;
    position: relative;
    bottom: 48px;
}

#ubuntu {
    font-family: "Ubuntu" !important;
}

#ptsans {
    font-family: "PT Sans" !important;
}

#nunito {
    font-family: "Nunito" !important;
}

.normal {
    font-style: normal;
    font-size: larger;
}

.bold {
    font-weight: 700;
    font-size: larger;
}

.italic {
    font-style: italic;
    font-size: larger;
}

.container3 #ptsans {
    position: relative;
    bottom: 53px;
}

.container3 #nunito {
    position: relative;
    bottom: 60px;
}